
<footer class="footer">
    <div class="container">
        <div class="footer-column">
            <h3>แนะนำ</h3>
            <ul>
                <li><a href="#">นักศึกษา & บุคลากร CE</a></li>
                <li><a href="#">ศิษย์เก่า CE & ITE</a></li>
                <li><a href="/table">ครุภัณฑ์การศึกษา CE</a></li>
                <li><a href="#">ฝึกงาน & สหกิจศึกษา</a></li>
                <li><a href="#">กิจกรรมหลักสูตร</a></li>
                <li><a href="#">หลักสูตร & แผนการเรียน CE</a></li>
                <li><a href="#">แต้มบุญ</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>ติดต่อเรา</h3>
            <p>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
            <p>วิทยาเขตชุมพรเขตรอุดมศักดิ์ จังหวัดชุมพร</p>
            <p>17/1 หมู่ 6 ต.ชุมโค อ.ปะทิว จ.ชุมพร 86160</p>
            <div class="footer-social">
              <i class="fab fa-facebook"></i>
              <a href="https://www.facebook.com/ComEngKMITLPCC" target="_blank">
                  <span>Computer Engineering KMITL, PCC</span>
              </a>
            </div>
        </div>
    </div>
  </footer>
