<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
    <title>Hamburger Menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        * {
            font-family: "Noto Sans Thai", sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<!-- <nav>
  <div class="nav-left">
    <p>หน้าหลัก</p>
  </div>
  <div class="nav-right">
    <button>Logout</button>
  </div>
</nav> -->

<body>
  <header class="navbar">
    <!-- Navbar ด้านบน -->
    <div class="navbar-top">
        <span>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง วิทยาเขตชุมพรเขตรอุดมศักดิ์</span>
        <a href="login" class="login">เข้าสู่ระบบ</a>
    </div>

    <div class="navbar-main">
      <label for="menu-toggle" class="menu-btn"><i class="fas fa-bars"></i></label>
      <div class="logo-container">
        <div class="image5"></div>
          <span class="kmitl-text">KMITL CE</span>
      </div>
      <nav class="nav">
        <a href="#">หน้าหลัก</a>
      </nav>  
  </div> 
</header>

<input type="checkbox" id="menu-toggle" hidden>


<div class="sidebar">
    <label for="menu-toggle" class="close-btn"><i class="fa-solid fa-xmark"></i></label>
    <ul class="menu-list">
        <li><a href="#">นักศึกษา & บุคลากร CE</a></li>
        <li><a href="#">ศิษย์เก่า CE & ITE</a></li>
        <li><a href="#">ครุภัณฑ์การศึกษา CE</a></li>
        <li><a href="#">ฝึกงาน & สหกิจศึกษา</a></li>
        <li><a href="#">ข่าวสาร & กิจกรรมของหลักสูตร</a></li>
        <li><a href="#">หลักสูตร & แผนการเรียน CE</a></li>
        <li><a href="table">แต้มบุญ</a></li>
    </ul>
</div>
  <div class="header">
    <div class="box">
      <div class="image">
      </div>
      <h1>ระบบฐานข้อมูลแต้มบุญ</h1>
    </div>
  </div>

  <div class="table-container">
    <h2>ตารางคะแนนจิตอาสา</h2>
    <table>
      <thead>
        <tr>
          <th>รหัสนักศึกษา</th>
          <th>ชื่อ-นามสกุล</th>
          <th>ชื่อเล่น</th>
          <th>รุ่น</th>
          <th>อีเมล</th>
          <th>เบอร์โทรศัพท์</th>
          <th>จำนวนแต้มบุญสะสม</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData">
          <td>{{ row.student_id }}</td>
          <td>{{ row.full_name }}</td>
          <td>{{ row.nickname }}</td>
          <td>{{ row.year_name }}</td>
          <td>{{ row.email }}</td>
          <td>{{ row.phone }}</td>
          <td>{{ row.total_points }}</td>
        </tr>
        <!-- <tr>
            <td>wave</td>
            <td>lnw</td>
            <td>za</td>
            <td>0</td>
            <td>0</td>
            <td>7</td>
            <td>2</td>
          </tr>
          <tr>
            <td>wavdwe</td>
            <td>ldwanw</td>
            <td>zdwaa</td>
            <td>0dwa</td>
            <td>0dwa</td>
            <td>7dwa</td>
            <td>2dwad</td>
          </tr> -->
      </tbody>
    </table>
  </div>
</body>
<footer class="footer">
  <div class="container">
    <div class="footer-column">
      <h3>แนะนำ</h3>
      <ul>
        <li><a href="#">นักศึกษา & บุคลากร CE</a></li>
        <li><a href="#">ศิษย์เก่า CE & ITE</a></li>
        <li><a href="#">ครุภัณฑ์การศึกษา CE</a></li>
        <li><a href="#">ฝึกงาน & สหกิจศึกษา</a></li>
        <li><a href="#">กิจกรรมหลักสูตร</a></li>
        <li><a href="#">หลักสูตร & แผนการเรียน CE</a></li>
        <li><a href="#">แต้มบุญ</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>ติดต่อเรา</h3>
      <p>สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</p>
      <p>วิทยาเขตชุมพรเขตรอุดมศักดิ์ จังหวัดชุมพร</p>
      <p>17/1 หมู่ 6 ต.ชุมโค อ.ปะทิว จ.ชุมพร 86160</p>
      <div class="footer-social">
        <i class="fab fa-facebook"></i>
        <span class="text">Computer Engineering KMITL, PCC</span>
      </div>
    </div>
  </div>
</footer>

</html>